Django==6.0.4
djangorestframework==3.17.1
pytz==2026.1.post1
asgiref==3.11.1
sqlparse==0.5.5
typing_extensions==4.15.0

pytest==9.0.3
pytest-django==4.12.0
freezegun==1.5.5
django-stubs==6.0.5
django-stubs-ext==6.0.5
djangorestframework-stubs==3.17.0
types-PyYAML==6.0.12.20260518


iniconfig==2.3.0
pluggy==1.6.0
packaging==26.2
Pygments==2.20.0
python-dateutil==2.9.0.post0
six==1.17.0
