{% load static %}
<div class="bg-white bg-card w-100 h-100 py-5">
  <div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="false" data-bs-wrap="false">

    <div class="carousel-inner text-center">
        
      {% for date, formset in formsets.items %}
        {% include "partials/day-slide.html" with date=date formset=formset %}
      {% endfor %}

    </div>

    <!-- Carousel controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgba(0,0,0,0.5); border-radius: 50%; padding: 10px;"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgba(0,0,0,0.5); border-radius: 50%; padding: 10px;"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</div>

<script>
  document.querySelectorAll('.toggle-img').forEach((img) => {
    const index = img.dataset.index;
    const prefix = img.dataset.prefix;
    
    img.addEventListener('click', function () {
      const hiddenInput = document.getElementById(`completed-${prefix}-${index}`);
      const isCompleted = hiddenInput.value === "true";

      const newState = !isCompleted;
      hiddenInput.value = newState ? "true" : "false";

      this.src = `{% static 'project8/images/' %}${newState ? 'check1.svg' : 'uncheck1.svg'}`;
    });
  });
</script>
