{% load static %}
{#<img src="{% static 'project8/images/Day Mock.png' %}" #}
{#     alt="demo" #}
{#     style="width: 100%; height: 100%; object-fit: cover;"> #}
<div class="bg-white bg-card w-100 h-100">
    {% if todo_list %}
    <h3>To-do list for {{ date }}</h3>
    <ul>
        {% for item in todo_list.items.all %}
            <li>{% if item.completed %}✅{% else %}❌{% endif %} {{ item.title }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p> No to-do list for {{ date }} yet.</p>
{% endif %}
</div>

