<div class="modal fade" id="editHabitsModal" tabindex="-1" aria-labelledby="editHabitsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="editHabitsModalLabel">Choose...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3 d-flex flex-column align-items-center gap-3">
            <button class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#addNewHabitModal">Create a New Habit</button>
            <button class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#trackOldHabitsModal">Continue Tracking Old Habit</button>
            <button class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#untrackHabitsModal">Untrack a Habit</button>
          </div>
        </div>

    </div>
  </div>
</div>
