{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-top ">
    <div class="col-md-4 d-flex align-items-center ms-3">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
            <img class="bi" width="30" height="24" aria-hidden="true"
            src="{% static "project8/images/muscle.svg" %}" alt="muscle icon">
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2025 My Power, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
        <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Instagram">
                <img class="bi" width="24" height="24"
                     src="{% static 'project8/images/facebook-svgrepo-com.svg' %}" alt="instagram">
            </a>
        </li>
        <li class="ms-3">
            <a class="text-body-secondary" href="#" aria-label="Facebook">
                <img class="bi" width="24" height="24"
                     src="{% static 'project8/images/instagram-svgrepo-com.svg' %}" alt="instagram">
            </a>
        </li>
    </ul>
</footer>
