    {% load static %}

    <div class="bg-white bg-card w-100 h-100 text-center py-5 position-relative">
        {% include 'partials/month-habits.html' %}
    </div>

    {% include 'partials/edit-habits-modal.html' %}
    {% include 'partials/new-habit-modal.html' %}
    {% include 'partials/track-habits-modal.html' %}
    {% include 'partials/untrack-habits-modal.html' %}

    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      document.querySelectorAll('.habit-cell').forEach(cell => {
        cell.addEventListener('click', async () => {
          const habitId = cell.dataset.habit;
          const dateStr = cell.dataset.date;

          const response = await fetch("{% url 'habit-toggle' %}", {
            method: 'POST',
            headers: {
              'X-CSRFToken': getCookie('csrftoken'),
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                habit_id: habitId,
                date: dateStr
            })

          });

          if (response.ok) {
            const result = await response.json();
            if (result.status === 'created') {
              cell.classList.remove('bg-light');
              cell.classList.add('bg-theme', 'text-white');
            } else if (result.status === 'deleted') {
              cell.classList.remove('bg-theme', 'text-white');
              cell.classList.add('bg-light');
            }
          }
        });
      });
    </script>
