{% load static %}
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="javascript:void(0)" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"
                src="{% static "project8/images/muscle_white.svg" %}" alt="coffee icon">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a href="#" class="nav-link px-2 text-info">Home</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">History</a>
                </li>
                <li>
                    <a href="#" class="nav-link px-2 text-white">About</a>
                </li>
            </ul>

        </div>
    </div>
</header>