{% extends 'base.html' %}

{% block content %}
    <div class="fullscreen-size row d-flex justify-content-center align-items-center position-relative">
        {% include 'partials/back-button-general.html' %}
        <div class="col-12 col-lg-4">
            <p class="text-bg-dark p-3 ">
                This website was made as a "to do list challenge" from 100 days of code.
                But I made it a bit more interesting and fairly useful ;)
                <br>
                <br>
                I can use this website daily to conveniently track my tasks,
                as well as habits that I want to develop this month :)
            </p>
        </div>
    </div>
{% endblock content %}
