{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Power</title>
        <link rel="icon" type="image/svg" href="{% static 'project8/images/muscle_white.svg' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet"  href="{% static 'project8/css/styles.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation-->
        {% include "partials/navigation.html" %}
        <div class="bg {% block bg_img %} bg-1 {% endblock bg_img %}">
        
            <!-- Container for full screen pages -->
            <div class="{% block container_class %}container{% endblock container_class %} py-3">
                {%  block content %}
                    <!-- Content goes here -->
                {%  endblock content %}
            </div>
        </div>
        <!-- Footer-->
        {% include "partials/footer.html" %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

    </body>
</html>
