{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center fullscreen-size mx-auto">
            <div class="bg-white bg-card w-100 h-100 py-5 text-center position-relative">
                <a href="{% url 'todo-history' %}" class="position-absolute start-0 top-10 translate-middle-y ms-5">
                    <img src="{% static 'project8/images/back.svg' %}" height="24px" width="24px">
                </a>
                {% block detail_content %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
