{% extends 'base.html' %}
{% block bg_img %} bg-none {% endblock bg_img %}
{% block content %}
    <div class="fullscreen-size row d-flex justify-content-center position-relative">
        {% include 'partials/back-button-general.html' %}
        <div class="col-12 d-flex flex-column align-items-center gap-5">
        
            <h2 class="my-3">History of To Do Lists</h2>
            <div class="list-group w-100">
                {% for todo_list in todo_lists %}
                        <a href="{% url 'todo-history-detail' todo_list.date %}" class="list-group-item list-group-item-action">
                            {{ todo_list.date|date:"d-m-Y" }}
                        </a>
                {% empty %}
                    <li>No todo lists found.</li>
                {% endfor %}
            </div>
    
    
            {% if is_paginated %}
              <nav aria-label="Page navigation">
                 <ul class="pagination">
                     {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link text-dark" href="?{% if request.GET.loc %}loc={{ request.GET.loc }}&{% endif %}page={{ page_obj.previous_page_number }}">Newer</a>
                        </li>
                     {% endif %}
    
                     {% for num in paginator.page_range %}
                         <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                             <a class="page-link {% if page_obj.number == num %}bg-dark text-white{% else %}text-dark{% endif %}" href="?{% if request.GET.loc %}loc={{ request.GET.loc }}&{% endif %}page={{ num }}">{{ num }}</a>
                         </li>
                     {% endfor %}
                     {% if page_obj.has_next%}
                         <li class="page-item">
                             <a class="page-link text-dark" href="?{% if request.GET.loc %}loc={{ request.GET.loc }}&{% endif %}page={{ page_obj.next_page_number }}">Older</a>
                         </li>
                     {% endif %}
                </ul>
              </nav>
            {% endif %}
        </div>
    </div>
{% endblock content %}

