{% extends 'base.html' %}

{% block content %}
    <div class="fullscreen-size row d-flex justify-content-center align-items-center position-relative">

        {% include 'partials/back-button-general.html' %}
        <div class="d-flex flex-column align-items-center gap-5">
            <div id="colorPicker"></div>
            <input type="hidden" id="themeColor" name="theme_color">
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script>
      const colorPicker = new iro.ColorPicker("#colorPicker", {
        width: 340,
        color: "{{ request.user.userprofile.theme_color|default:'#27DDF5' }}",
        borderWidth: 1,
        borderColor: "#fff"
      });
    </script>

{% endblock content %}
